{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2020",
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "paths": {
      "@src/*": [
        "dist/*"
      ],
      "@test/*": [
        "dist/*"
      ]
    },
    "baseUrl": "./"
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": "inline"
}